@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
    @apply text-black scrollbar-thin scrollbar-track-primary-50 scrollbar-thumb-dark-200;
  }

  * {
    @apply border-dark-50 font-secondary ring-primary-500 selection:bg-primary-500 selection:text-white;
  }

  body {
    @apply overflow-y-scroll;
  }
}

@layer utilities {
  .active-pulse {
    @apply transition-transform ease-in-out active:scale-[0.98];
  }
}

mux-player {
  --seek-backward-button: none;
  --seek-forward-button: none;

  /* --seek-live-button: none; */
  /* --time-range: none; */
}

.react-tel-input .form-control {
  width: 100% !important;
  border-color: #EFEFEF !important;
}

.swiper-wrapper {
  /* grid items-stretch gap-4 xl:grid-rows-2 grid-cols-3 */
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
  grid-auto-flow: column;
}
