@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
    @apply scrollbar-thin scrollbar-thumb-dark-200 scrollbar-track-primary-50 text-black;
  }

  * {
    @apply ring-primary-500 font-secondary selection:bg-primary-500 selection:text-white border-dark-50;
    @apply scrollbar-thin scrollbar-thumb-dark-200 scrollbar-track-primary-50;
  }

  body {
    @apply overflow-y-auto;
  }
  :root {
    overflow-y: hidden;
  }
}

@layer utilities {
  .active-pulse {
    @apply active:scale-[0.98] transition-transform ease-in-out;
  }
  .min-h-screen-fallback {
    min-height: 100vh;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    @apply appearance-none m-0;
  }

  .no-spinner {
    -moz-appearance: textfield; /* Remove spinner in Firefox */
  }

  @supports (min-height: 100dvh) {
    .min-h-screen-fallback {
      min-height: 100dvh;
    }
  }
}
